

.Main ul{
    list-style: none;
    margin:0;
    padding: 0;
    width: 100;
    text-align: right;
    border: 1px solid #9d9d9d;
    background-color:#2f2f2f; 
   
    
}
.Main nav {
    align-items: flex-end;
}
.Main li{
    
    display: inline-block;
    margin: 20px;
    
}
.Main a{
    text-decoration: none;
    color: #9d9d9d;
}

.Main a:hover,
.Main a.active{
    color:white;

}