.Post {
    width: 450px;
    padding: 16px;
    text-align: center;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    
}

.hash
{    display: inline-block;
   border: 1px solid black;
    font-size: 60%;
    border-radius: 10px;
    
}
.Post:hover,
.Post:active {
    background-color: #C0DDF5;
    cursor: pointer;
    color: white;

}

.UserName {
    
     margin: 16px 0;
    
}